{% include "scheduler/base.html" %}
{% include "scheduler/menu.html" %}

<body class="schedules">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="sub-page-title page-top">Coverage for the Week of {{ date }}</h4>
            </div><!--col-12-->
            <div class="col-xs-12 text-center center-block" style="margin-bottom: 50px;">
                {% for weekday, weekdayDict in weekdayDicts %}
                    <table id="coverage-table">
                        <thead>
                            <h3 class="subtitle">{{ weekday }}</h3>
                            {% for shift in weekdayDict %}
                                <th>{{ shift }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            <tr>
                                {% for shift, employee_list in weekdayDict.items %}
                                <td>
                                    {% for employee in employee_list %}
                                        <ul>{{ employee }}</ul>
                                    {% endfor %}
                                </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div><!--col-12-->
            <div class="col-xs-12 text-center">
                <a class="submit-button" href="{% url 'scheduler:schedules' %}">Go Back</a>
            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</body>

{% include "scheduler/footer.html" %}