{% include "scheduler/base.html" %}
{% include "scheduler/menu.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body class="schedules">
    <div class="container make-full-page">
        <div class="row">
            <div class="col-xs-12 center-block text-center">
                <h1 class="page-title">Schedules</h1>
            </div><!--col-->
        </div><!--row-->
        <div class="row">
            <!--<form action="{% url 'scheduler:schedule-delete' %}" method="post">-->
            <form action="{% url 'scheduler:schedules' %}" method="post">
                {% csrf_token %}
                <div class="col-xs-12 center-block text-center">
                    {% load staticfiles %}
                    <h3 id="week-start" class="subtitle">For the week of 
                        <button id="prev-week" type="button">
                            <img src="{% static 'img/left-arrow.png' %}"/>
                        </button>
                        <input id="oval-div" name="week-start" value="{{ monday | date:'M d, Y' }}" readonly/>
                    </h3>
                    <button type="button" id="next-week">
                        <img src="{% static 'img/right-arrow.png' %}"/>
                    </button>
                </div><!--col-xs-12-->
                
                <div class="col-xs-12 text-right">
                    <div class="schedule-width" id="button-row">
                        {% if currSchedules %}
                            {% load staticfiles %}
                            <button class="schedule-button logout-button" type="submit" name="coverage">Coverage</button>
                            <button class="edit-button schedule-button" type="submit" name="edit" onclick="return confirm('Edit Schedule?');"><img src="{% static 'img/edit.png' %}"/></button>
                            <button class="delete-button schedule-button" type="submit" name="delete" onclick="return confirm('Delete Schedule?');"><img src="{% static 'img/delete.png' %}"/></button>
                        {% endif %}
                    </div>
                </div><!--col-xs-12-->
            </form>
            {% if currSchedules %}
            <div class="schedule-container">
                <table id="schedule-table-original" class="schedule-table schedule-width">
                    <tr>
                        {% load custom_tags %}
                        <th>Employee</th>
                        <th>Monday      {{ monday | date:'m/d' }}</th>
                        <th>Tuesday     {{ monday | plus_days:1 | date:'m/d' }}</th>
                        <th>Wednesday   {{ monday | plus_days:2 | date:'m/d' }}</th>
                        <th>Thursday    {{ monday | plus_days:3 | date:'m/d' }}</th>
                        <th>Friday      {{ monday | plus_days:4 | date:'m/d' }}</th>
                        <th>Saturday    {{ monday | plus_days:5 | date:'m/d' }}</th>
                        <th>Sunday      {{ monday | plus_days:6 | date:'m/d' }}</th>
                    </tr>
                    {% for weekSchedule in weekSchedules %}
                        {% if weekSchedule.weekStart == monday %}
                            <tr>
                                <td>{{ weekSchedule.employee }}</td>
                                <td>{{ weekSchedule.get_mondayShift_display }}</td>
                                <td>{{ weekSchedule.get_tuesdayShift_display }}</td>
                                <td>{{ weekSchedule.get_wednesdayShift_display }}</td>
                                <td>{{ weekSchedule.get_thursdayShift_display }}</td>
                                <td>{{ weekSchedule.get_fridayShift_display }}</td>
                                <td>{{ weekSchedule.get_saturdayShift_display }}</td>
                                <td>{{ weekSchedule.get_sundayShift_display }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div><!--overflow-container-->
            {% else %}
                <div class="schedule-container">
                    <table id="schedule-table-original" class="schedule-table schedule-width">
                        <thead class="no-border"><th class="no-border"><p class="warning-text">No schedule has been generated for this week.</p></th></thead>
                        <tr><td class="no-border"><a class="submit-button" href="{% url 'scheduler:index' %}">Generate</a></td></tr>
                    </table>
                </div>
            {% endif %}<!--if currSchedules-->
        </div><!--row-->
    </div><!--container-->
</body>
{% include "scheduler/footer.html" %}

<script type="text/javascript">
    // Turn monday into javascript date
    var monday = new Date({{ monday.year }}, {{monday.month}}-1, {{monday.day}});

    // Previous week button
    $("#prev-week").on('click',function(){
       monday.setDate(monday.getDate()-7);
       fillSchedule();
    });

    // Next week button
    $("#next-week").on('click',function(){
       monday.setDate(monday.getDate()+7);
       fillSchedule();
    });

    // Add days to given date
    Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    // Every time the date is changed, update the page
    function fillSchedule(){
        // Options for formatting date
        var short = {month: '2-digit', day:'2-digit'};
        var long = {year:'numeric', month: 'short', day:'numeric'};
        // Document elements
        $buttonRow = document.getElementById("button-row");
        $scheduleTable = document.getElementById("schedule-table-original");
        $scheduleTable = document.getElementById("schedule-table-original");
        $dateDiv = document.getElementById("oval-div");
        // Fill date div
        $dateDiv.value = monday.toLocaleDateString('en-US', long);
        // Fill schedule table weekday header
        $scheduleTable.innerHTML = "<tr><th>Employee</th><th>Monday</th><th>\
            Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th>\
            <th>Saturday</th><th>Sunday</th></tr>";
            $scheduleTable.innerHTML = "<tr>{% load custom_tags %}<th>Employee\
                </th><th>Monday<br>" + monday.toLocaleDateString('en-US', short) + 
                "</th><th>Tuesday<br>" + monday.addDays(1).toLocaleDateString('en-US', short) + 
                "</th><th>Wednesday<br>" + monday.addDays(2).toLocaleDateString('en-US', short) + 
                "</th><th>Thursday<br>" + monday.addDays(3).toLocaleDateString('en-US', short) + 
                "</th><th>Friday<br>" + monday.addDays(4).toLocaleDateString('en-US', short) + 
                "</th><th>Saturday<br>" + monday.addDays(5).toLocaleDateString('en-US', short) + 
                "</th><th>Sunday<br>" + monday.addDays(6).toLocaleDateString('en-US', short) + 
                "</th></tr>";
        var hasSchedule = false;
        // Get relevant weekSchedules
        {% for weekSchedule in weekSchedules %}
            tempDate = new Date({{weekSchedule.weekStart.year}}, 
                {{weekSchedule.weekStart.month}} - 1, 
                {{weekSchedule.weekStart.day}});
            if ( tempDate.getTime() == monday.getTime()){
                hasSchedule = true;
                // Display button row and relevant shifts
                $buttonRow.innerHTML = "{% load staticfiles %}<button class=\
                    'schedule-button logout-button' type='submit' name=\
                    'coverage'>Coverage</button> <button class='edit-button \
                    schedule-button' type='submit' name='edit' onclick=\
                    'return confirm('Edit Schedule?');'><img src=\
                    '{% static 'img/edit.png' %}'/></button> <button class= \
                    'delete-button schedule-button' type='submit' onclick=\
                    'return confirm('Delete Schedule?');'><img src=\
                    '{% static 'img/delete.png' %}'/></button>";
                $scheduleTable.innerHTML += "<tr><td>{{ weekSchedule.employee }}\
                    </td><td class='schedule-td'>{{ weekSchedule.get_mondayShift_display }}</td><td>\
                    {{ weekSchedule.get_tuesdayShift_display }}</td><td>\
                    {{ weekSchedule.get_wednesdayShift_display }}</td><td>\
                    {{ weekSchedule.get_thursdayShift_display }}</td><td>\
                    {{ weekSchedule.get_fridayShift_display }}</td><td>\
                    {{ weekSchedule.get_saturdayShift_display }}</td><td>\
                    {{ weekSchedule.get_sundayShift_display }}</td></tr>";
            }
        {%endfor%}
        // If there are no relevant weekSchedules, don't display schedule
        if ( hasSchedule == false ){
            $buttonRow.innerHTML = "";
            $scheduleTable.innerHTML = "<thead class='no-border'><th class=\
                'no-border'><p class='warning-text'>No schedule has been \
                generated for this week.</p></th></thead><tr><td class=\
                'no-border'><a class='submit-button' href=\
                '{% url 'scheduler:index' %}'>Generate</a></td></tr>";
        }
    };
</script>