{% include "scheduler/base.html" %}
{% include "scheduler/menu.html" %}
{% load staticfiles %}

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">

<body class="requests">
    <div class="container make-full-page">
        <div class="row">
            <div class="col-xs-12 center-block text-center">
                <div class="model-form-background">
                    <div class="col-xs-12 text-center">
                        <h4 class="sub-page-title page-top">New Vacation Request</h4>
                    </div><!--col-->
                    <div class="col-xs-12 text-center model-form">
                        <form action="{% url 'scheduler:vacation-request' %}" method="POST">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <label for="id_employee" class="input-label-padding">Employee: </label>{{ form.employee }}
                                </div><!--col-->
                            </div><!--row-->
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <label for="id_startDate">Start Date: </label>{{ form.startDate }}
                                </div><!--col-->
                            </div><!--row-->
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <label for="id_endDate">End Date: </label>{{ form.endDate }}
                                </div><!--col-->
                            </div><!--row-->
                            <div class="row">
                                <div class="col-xs-12 text-center button-row">
                                    <input type="submit" class="submit-button small-submit-button" value="Create" />
                                </div><!--col-->
                            </div><!--row-->
                        </form>
                    </div><!--col-->
                </div><!--model-form-background-->
            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</body>

{% include "scheduler/footer.html" %}
<script>
    // Format start and end dates
    startDate = $('#id_startDate').val().split("-");
    $('#id_startDate').val(startDate[1]+'/'+startDate[2]+'/'+startDate[0]);
    endDate = $('#id_endDate').val().split("-");
    $('#id_endDate').val(startDate[1]+'/'+endDate[2]+'/'+endDate[0]);

    $("#id_startDate").datepicker({firstDay:1});
    $('#id_endDate').datepicker({firstDay:1});
</script>